<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>物料编码查询页面</title>
</head>
<body>
    <div>
        <div class="data_query" id="data_query" >
            <div>
                <label for="input_query">物料名称或料号、型号</label>
            </div>
            

        </div>
        <div class="data_show" id="data_show">
            <table>
                
            </table>
        </div>
    </div>
   
</body>
</html>